doctype html
html
    head
        title= `Nodegram | ${title}`
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=Rubik:400,700,900', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Mono', rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', rel='stylesheet')
        link(rel='stylesheet', href='/dist/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        <!--[if lt IE 9]>
            script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
        <![endif]-->
        
    body
        .container
            .navbar
                a(href='/').navbar-brand Nodegram

                ul.navbar-right.navbar-nav
                    if(user)
                        .navbar-user-toggle
                            .small__avatar.avatar(
                                style= user.avatar ? `background-image:url('/uploads/${user.avatar}')` : null 
                                class= !user.avatar ? 'avatar--placeholder' : null
                                data-name=user.username)
                            li.nav-item 
                                span.nav-link(href=`/users/${user.username}`) #{user.username}
                            
                            ul.navbar-user-panel
                                if(user.isAdmin)
                                    li 
                                        a.nav-link(href=`/users`) All users
                                    li 
                                        a.nav-link(href=`/photos`) All photos

                                li 
                                    a.nav-link(href=`/timeline`) Timeline
                                li 
                                    a.nav-link(href=`/users/${user.username}`) My profile
                                li 
                                    a.nav-link(href=`/auth/logout`) Logout
                                
                                

                        

                    else
                        li.nav-item 
                            a.nav-link(href='/auth/login') Login
                        li.nav-item 
                            a.nav-link(href='/auth/signup') Sign up
                
            if(flashes)
                each category in Object.keys(flashes)
                    if (flashes.error && typeof flashes.error[0] == 'object')
                        each error in flashes[category]
                            each validation in error
                                each message, index in validation
                                    .flash__wrapper(class=`flash--${category} flash__wrapper--${index}`).to-foreground
                                        .container
                                            .col-xs-12
                                                .flash
                                                    span.flash__text!= message
                                                    span.flash__remove(data-flash=index) &times;

                    else             
                        each message, index in flashes[category]
                            .flash__wrapper(class=`flash--${category} flash__wrapper--${index}`).to-foreground
                                .container
                                    .col-xs-12
                                        .flash
                                            span.flash__text!= message
                                            span.flash__remove(data-flash=index) &times;
                                            

        
            .col-xs-12.content
                block content

            script(src="/dist/bundle.js")



        
            