doctype html
html
    head
        title= `Nodegram | ${title}`
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=Rubik', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto-Mono', rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        //- link(rel='stylesheet', href='/dist/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        <!--[if lt IE 9]>
            script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
        <![endif]-->
        
    body
        .container
            .navbar
                a(href='/').navbar-brand Nodegram

                ul.navbar-right.navbar-nav
                    if(!user)
                        li.nav-item 
                            a.nav-link(href='/auth/login') Login
                        li.nav-item 
                            a.nav-link(href='/auth/signup') Sign up
                
            
            if(locals.flashes && !(locals.flashes.error && typeof locals.flashes.error[0] == 'object'))
                each category in Object.keys(locals.flashes)
                    each message, index in flashes[category]
                        .flash__wrapper(class=`flash--${category} flash__wrapper--${index}`).to-foreground
                            .container
                                .col-xs-12
                                    .flash
                                        span.flash__text!= message
                                        span.flash__remove(data-flash=index) &times;
            
            .row 
                .col-xs-12
                    block content



        
            