extends ../master

block content
    h2 
        a(href=`/users/${resourceUser.username}`) Back to user
    h1.text-center Following
    ul.list
        each following in resourceUser.following
            - const username = following.username;
            li.list-item
                .small__avatar.avatar(
                    style= avatar ? `background-image:url('/uploads/${avatar}')` : null 
                    class= !avatar ? 'avatar--placeholder' : null
                    data-name=username)
                a(href=`/users/${username}`)
                    span.liked-by!= username
                    

