extends ../master

block content
    - const isThisUser = user.username == resourceUser.username;
    - const isAlreadyFollower = resourceUser.followers.some(f => String(f._id) == String(user._id));

    .profile__follow 
        if(!isAlreadyFollower && !isThisUser)
            a.btn.btn-primary(href=`/users/${resourceUser.username}/follow`)
                span Follow

        else if(isAlreadyFollower && !isThisUser)
            a.btn.btn-danger(href=`/users/${resourceUser.username}/unfollow`)
                span Unfollow

    .profile__avatar.avatar(
        style= resourceUser.avatar ? `background-image:url('/uploads/${resourceUser.avatar}')` : null 
        class= !resourceUser.avatar ? 'avatar--placeholder placeholder--resourceUser' : null
        data-name=resourceUser.username)
    h1.text-center!= `${resourceUser.username}`
    .profile__followers 
        a(href=`/users/${resourceUser}/followers`)
            strong!= `${resourceUser.followers.length} followers`
        a(href=`/users/${resourceUser}/following`)
            strong!= `${resourceUser.following.length} following`
    if(user.username == resourceUser.username)
        a.text-center.edit-user(href=`/users/${user.username}/edit`)
            i.fa.fa-pencil
            span.fa-padding-left-from-icon Edit your profile
    p.text-center!= resourceUser.bio ? resourceUser.bio : 'This user has no bio!'

    .photo-grid__container
        if(!resourceUser.userPhotos || resourceUser.userPhotos.length == 0)
            h2!= `${isThisUser ? 'You' : resourceUser.username} ${isThisUser ? 'have' : 'has'} no photos yet!`
            if(isThisUser)
                a(href='/photos/new') Upload a new photo

        else 
            if(isThisUser)
                a(href='/photos/new').text-right Upload a new photo
            .photo-grid
                each photo in resourceUser.userPhotos
                    a(
                        href=`/photos/${photo.uuid}`
                        style=`background-image:url('/uploads/${photo.url}')`
                    ).photo-grid__photo
                        .photo-grid__overlay 
                            .photo-grid__info 
                                .photo-grid__comments 
                                    i.fa.fa-comment
                                    span.fa-padding-left-from-icon!=photo.comments.length
                                .photo-grid__likes 
                                    i.fa.fa-heart
                                    span.fa-padding-left-from-icon!=photo.likes.length

    
