extends ../master

block content
    .profile__avatar.avatar(
        style= resourceUser.avatar ? `background-image:url('/uploads/${resourceUser.avatar}')` : null 
        class= !resourceUser.avatar ? 'avatar--placeholder placeholder--resourceUser' : null
        data-name=resourceUser.username)
    h1.text-center!= `${resourceUser.username}`
    if(user.username == resourceUser.username)
        a.text-center.edit-user(href=`/users/${user.username}/edit`)
            i.fa.fa-pencil
            span.fa-padding-left-from-icon Edit your profile
    p.text-center!= resourceUser.bio ? resourceUser.bio : 'This user has no bio!'
