extends ../master

block content
    h2 All photos

    .search-container 
        input.search-input(placeholder='search...' name='search' type='text' data-url=url)
        a.search-submit
            i.fa.fa-search.fa-padding-left

    if(photos && photos.length > 0)
        table
            tr  
                th #
                th Author
                th Created at
                th Comments 
                th Likes
                th Tag
                th Actions
            
            each photo, index in photos
                tr 
                    td!= index 
                    td!= photo.author.username 
                    td!= formatDate(photo.createdAt)
                    td 
                        if(photo.comments) 
                            p!= photo.comments.length
                    td 
                        if(photo.likes) 
                            p!= photo.likes.length
                    td 
                        if(photo.tag && photo.tag.color)
                            .photo-single__tag 
                                span(style=`background-color: ${photo.tag.color};`)!= photo.tag.name
                    td 
                        a(href=`/photos/${photo.uuid}`)
                            span &rarr;
                        a(href=`/photos/${photo.uuid}/destroy`)
                            i.fa.fa-trash
    else 
        h1 No results for your query...

                    
